.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 80%
    width: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 31%
    right: 5%
    width: 20%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
 
.fondo01
  background-image: url('../assets/curso/portada/fondo01.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondo02
  background-image: url('../assets/curso/Tema2/fondo02.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondosly
  background-image: url('../assets/curso/Tema2/fondosly.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px) 
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #FCC100
.slyder-a__bullets__item--active 
  border-color: #FCC100 !important
  background-color: #FCC100 !important
  opacity: 1
.slyder-a__bullets__item 
  width: 15px
  height: 15px
  background-color: #ABBDA8


.titulo-segundo:after 
  border-left-color: #A3CB38
  background-color: #e8e8e8
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px
  width: fit-content
.bg1
  background-color: #C8C8C8
  border-radius: 20px
.bg2
  background-color: #FEE2E2
.bg3
  background-color: #ECECEC
.bg4
  background-color: #ffff
.bg5
  background-color: #F6F6F6
.bg6
  background-color: #EDF5D7
.bg7
  background-color: #FEE2E2
.bg8
  background-color: #D5DED3
.bg9
  background-color: #DAEAAF
.bg10
  display: inline-block 
  background-color: #ffff
  padding: 10px 25px
  border-radius: 50px 
  font-weight: 700
  margin-bottom: 15px
.bg11
  background-color: #ECECEC
  border-radius: 0 120px 0px 180px
  overflow: hidden
  @media (max-width: $bp-max-md)
    border-radius: 0 0px 0px 0px
.bg111
  background-color: #EDF5D7
  border-radius: 140px 0px 180px 0px
  overflow: hidden
  @media (max-width: $bp-max-md)
    border-radius: 0 0px 0px 0px
.bg12
  background-color: #ABBDA8
.bg13
  background-color: #FFF3CC
.bg14
  background-color: #4A4A4A
.tabla-a.color-acento-botones thead 
  border-color: #FEE2E2
.tarjeta.color-acento-botones--borde 
  background-color: #ECECEC
  color: #12263F
  border: solid 4px #ECECEC
.cajon.color-secundario 
  background-color: #EDF5D7
.text-izq
  text-align: left !important
.titulo-icono 
  display: flex
  align-items: center
  border-bottom: 3px solid #e57373 /* línea roja */
  padding-bottom: 0px
  gap: 10px
.tarjeta--boton 
  background-color: #FFF3CC
.tarjeta--boton2
  background-color: #FEE2E2
  border-radius: 20px
.tarjeta--boton3
  background-color: #DAEAAF
  border-radius: 20px
.tarjeta--boton4
  background-color: #EDF5D7
  border-radius: 20px
.titulo-icono .icono 
  width: 78px
  padding-bottom: -10px !important
.titulo-icono h3 
  font-weight: 700
  margin: 0
.color-secu:hover 
  background-color: #FEE2E2 !important

.tarjeta.color-acento-botones--borde
  background-color: #ECECEC
  border: #ECECEC
.tabs-a__tab 
  background-color: #4A4A4A
  color: white
.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: #FCC100
  color: #12263F !important
.fa-angle-right2
  content: url('../assets/curso/Tema1/mata.svg')
  vertical-align: top !important
.tabs-c
  border-bottom: 0px
  &__header
    margin-bottom: 0px
  &__tab--active
    font-weight: bold
.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  @media (max-width: 1000px)
    display: none
.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5
    color: #12263F
  p
    margin-bottom: 0
  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #ABBDA8
  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first, .crd--last
  &::before
    background-color: #D5DED3 !important
.crd--first
  &::before
    border-top-left-radius: 30px
.crd--last
  &::before
    border-bottom-left-radius: 30px
.crd--last,
  &::before
    background-color: #1B3617 !important

.acordion__accion__btn--a 
  background-color: #FCC100 !important
.acordion .tarjeta--azul
  background-color: #1B3617 !important
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #FFF3CC !important
.acordion__titulo
  color: #fff !important
